@mixin mobSinProImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

@mixin deskSingProImg {
  width: 100%;
  height: 445px;
  margin: auto;
  object-fit: contain;
  object-position: 50% 50%;
}

@mixin deskProImgMain {
  display: grid;
  grid-template-columns: 15% 80%;
  grid-template-rows: auto;
  gap: 1em;
  height: 100%;
}

@mixin deskMultiProImg {
  width: 100%;
  height: 95px;
  object-fit: contain;
  object-position: 50% 50%;
  padding: 15px;
}

@mixin deskProImgSig {
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  padding: 10%;
  display: grid;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .pro-img-main {
    display: none;
  }

  .bullet-section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .pro-img-bullets {
    width: auto;
    height: auto;
    padding: 2%;
    outline: 1px white solid;
    border-radius: 50%;
    background: #666666 0% 0% no-repeat padding-box;
    cursor: pointer;
  }

  .mob-single-product-image {
    @include mobSinProImg;
  }
}

//Desktop view
@media all and (min-width: 769px) {
  .bullet-section,
  .mob-single-product-image {
    display: none;
  }

  .desk-single-product-image {
    @include deskSingProImg;
  }

  .pro-img-main {
    @include deskProImgMain;
  }

  .pro-img-multiple {
    display: grid;
    gap: 1em;

    .multi-product-image {
      cursor: pointer;
      @include deskMultiProImg;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      transition: transform 0.7s, box-shadow 0.7s;
    }

    .multi-product-image:hover {
      transform: scale3d(0.9, 0.9, 1);
      box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
        rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    }
  }

  .pro-img-single {
    @include deskProImgSig;
  }

  .border-bottom-active {
    border-bottom: 6px solid var(--unnamed-color-e26a2c);
  }
}
