@mixin mobAside($display) {
  display: $display;
}

.main-header-section {
  width: 100%;
  height: 56px;
  background-color: var(--unnamed-color-e26a2c);
  display: grid;
  grid-template-rows: auto;
  position: fixed;
  top: 0;
  z-index: 5;
}

.logo-header-section {
  display: grid;
  justify-items: center;
}

.logo-header {
  width: 10rem;
  object-fit: contain;
  object-position: center;
}

@mixin badge {
  position: relative;
  right: 5px;
  bottom: 15px;
  background: #fda65d;
  padding: 5px;
  border-radius: 50%;
  color: #fff;
  display: inline-grid;
  width: 1rem;
  text-align: center;
  font-size: 1rem;
}

.cart-logo-header-section::after {
  content: attr(data-cart-value);
  @include badge;
}

.fav-logo-header-section::after {
  content: attr(data-fav-value);
  @include badge;
}

.menu-header-section,
.logo-header,
.header-cart {
  cursor: pointer;
}

//mobile and tablet view
@media all and (min-width: 320px) and (max-width: 768px) {
  .main-header-section {
    grid-template-columns: 1fr 4fr 1.1fr;
    align-items: center;
    justify-items: center;
  }

  .menu-items-header-section,
  .fav-logo-header-section {
    @include mobAside(none);
  }

  .aside-header-section {
    width: 100%;
    height: auto;
    background: var(--white) 0% 0% no-repeat padding-box;
    @include mobAside(none);
    grid-template-columns: auto;
    grid-template-rows: auto;
    position: sticky;
    z-index: 2;
    top: 56px;
  }

  .aside-top {
    background: #f4f5f5 0% 0% no-repeat padding-box;
    opacity: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    border-bottom: 2px solid var(--gray-l2);
  }

  .aside-title {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
      var(--unnamed-font-size-16) / var(--unnamed-line-spacing-20)
      var(--unnamed-font-family-muli);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
    text-align: left;
    opacity: 1;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 5% 0% 2% 10%;
  }

  .aside-close {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    padding: 10% 20% 2% 0%;
  }

  .catagory-main {
    padding: 0 6%;
    width: 100%;
    height: 100vh;
  }

  .catagory-items {
    padding: 5% 0;
    border-bottom: 2px solid var(--gray-l2);
    a {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
        var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--unnamed-color-172026);
      text-align: left;
    }

    opacity: 1;
  }

  #btnControl {
    display: none;
  }

  #btnControl:checked ~ .aside-header-section {
    @include mobAside(grid);
  }
}

//Desktop view
@media all and (min-width: 769px) {
  .menu-header-section,
  .aside-header-section,
  #btnControl {
    @include mobAside(none);
  }

  .main-header-section {
    grid-template-columns: 22% 60% 5% 5%;
  }

  .menu-items-header-section {
    height: 100%;
    margin: auto;
  }

  .logo-header {
    align-self: center;
    justify-self: end;
  }

  .catagory-main {
    width: 100%;
    height: 100%;
    @include mobAside(grid);
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    gap: 1rem;
  }

  .catagory-items {
    width: 100%;
    height: 100%;
    display: grid;
    transition: border-bottom 1s linear;

    a {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-600) var(--unnamed-font-size-16) /
        var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
      letter-spacing: var(--unnamed-character-spacing-0);
      color: var(--white);
      text-align: center;
      opacity: 1;
      margin: auto;
    }
  }

  .active {
    border-bottom: 5px solid #ffd07f;
  }

  .cart-logo-header-section,
  .fav-logo-header-section {
    align-self: center;
  }

  .header-fav-icon{
    cursor: pointer;
  }

}
