//comman mixins

@mixin tilesDivision {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 3fr 0.5fr;
  cursor: pointer;
  box-shadow: 0px 0px 12px 0px rgb(0 0 0);
}

@mixin titleSection {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 2/3;
  background: #1b252cd9 0% 0% no-repeat padding-box;
  display: grid;
  padding: 0 5%;
}

@mixin titleSectionOne {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-30)
    var(--unnamed-font-family-source-serif-pro);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
  text-align: left;
  opacity: 1;
}

@mixin titleSectionTwo {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-14) / 23px
    var(--unnamed-font-family-muli);
  color: var(--white);
  text-align: left;
  letter-spacing: 0.32px;
  opacity: 1;
}

@mixin tilesDivider {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 3/-1;
  background: var(--unnamed-color-e26a2c) 0% 0% no-repeat padding-box;
}

.tiles-image-section {
  width: 100%;
  height: 100%;

  .tiles-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.prod-link {
  text-decoration: none;
}

.home-catagory-tiles-division {
  @include tilesDivision;
}

.home-catagory-tiles-division:hover {
  box-shadow: inset rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
    opacity: 1;
}

.tiles-image-section {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.tiles-title-section {
  @include titleSection;

  :nth-child(1) {
    @include titleSectionOne;
  }

  :nth-child(2) {
    @include titleSectionTwo;
  }
}

.tiles-divider {
  @include tilesDivider;
}

//mobile and tablet view
@media all and (min-width: 320px) and (max-width: 768px) {
  .home-catagory-tiles {
    height: 100%;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
  }

  .home-catagory-tiles-division {
    width: 90%;
    height: 18vh;
    margin: auto;
  }

}

//Desktop view
@media all and (min-width: 769px) {
  .home-catagory-tiles {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1.5rem;
    margin: auto;
    padding: 0 9%;
  }

  .home-catagory-tiles-division {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  .tiles-title-section {
    padding: 8%;
  }

  .prod-link {
    background: black;
  }

  .home-catagory-tiles-division {
    opacity: 0.7;
    transition: all 0.8s;
  }

}
