.contact-info-sub-section,
.contact-info-sub-section-button {
  padding: 0 0 1rem 0;
  text-align: center;
}

#contact-info-button[style="opacity: 1;"]:hover {
  color: var(--unnamed-color-e26a2c);
  background: var(--white) 0% 0% no-repeat padding-box;
}

.contact-info-sub-display-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 4fr;
}

#contact-info-title {
  grid-column: 1/2;
  grid-row: 1/2;
}
.checkout-sub-display-shipping-info-edit {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
}
#checkout-sub-display-contact-info-user-address-details {
  grid-column: 1/2;
  grid-row: 2/3;
}



//mobile and tablet view
@media all and (min-width: 320px) and (max-width: 768px) {
  .button-text-for-desk {
    display: none;
  }

  .contact-info-sub-display-section {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    padding: 5%;
  }

  
}

//desktop view
@media all and (min-width: 769px) {
  .button-text-for-desk {
    display: inline;
  }

  .main-contact-info{
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    padding:5%;
  }

  .contact-info-sub-section {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 1fr;
    gap: 0 1rem;
  }

  #contact-info-sub-section-title,
  #contact-info-shipping-section-title {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  #contact-info-sub-section-disclamer {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  #contact-info-sub-section-email {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  #contact-info-sub-section-phone-number {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  #contact-info-shipping-section-country {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  #contact-info-shipping-first-name {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  #contact-info-shipping-last-name {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  #contact-info-shipping-street-address {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  #contact-info-shipping-street-address-two {
    grid-column: 2/4;
    grid-row: 4/5;
  }

  #contact-info-shipping-city {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  #contact-info-shipping-state {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  #contact-info-shipping-zip {
    grid-column: 3/4;
    grid-row: 5/6;
  }
}
