
#place-order-button[style="opacity: 1;"]:hover {
  color: var(--unnamed-color-e26a2c);
  background: var(--white) 0% 0% no-repeat padding-box;
}

.place-order-button-section {
  padding: 1rem 0;
  text-align: center;
}

.place-order-disclamer {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: center;
}

//mobile and tablet view
@media all and (min-width: 320px) and (max-width: 768px) {
 
}

//desktop view
@media all and (min-width: 769px) {
}
