#outline {
    outline: white solid 1px;
    outline-offset: -3px;
}

@mixin mobFormatSection {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0.5em;
}

@mixin mobTitleFormatSection {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-muli);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-172026);
    text-align: left;
    opacity: 1;
}

@mixin mobBoxMainSection {
    margin: 3% 0;
    display: flex;
    align-items: center;
}

@mixin mobBoxSection {
    width: 45px;
    height: 30px;
    margin-right: 3%;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
}

@mixin mobSizeBoxSection {
    border: 2px solid var(--gray-m1);
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-20) var(--unnamed-font-family-muli);
    text-align: center;
    letter-spacing: 0.32px;
    padding: 3px;
    outline: white solid 1px;
    outline-offset: -3px;
}


.format-section {
    @include mobFormatSection;
}

.color-title-format-section,
.size-title-format-section {
    @include mobTitleFormatSection;
}

.color-box-main-format-section,
.size-box-main-format-section {
    @include mobBoxMainSection;
}

.color-box-format-section,
.size-box-format-section {
    @include mobBoxSection;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

.color-box-format-section:hover,
.size-box-format-section:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.size-box-format-section {
    @include mobSizeBoxSection;
}

.color-check-box {
    position: absolute;
    top: 8px;
    left: 15px;
}

.color-box-image-format-section {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
}