.main-product-details {
  margin-top: 56px;
}

@mixin mobMainProDet {
  width: 100%;
  height: auto;
  padding: 0 5%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0.5em;
}

@mixin mobBreProDet {
  width: 100%;
  height: auto;
  padding: 5% 0;
}

@mixin mobImgSec {
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  padding: 30px;
}

@mixin deskMainProDet {
  width: 100%;
  height: auto;
  padding: 2% 15%;
  display: grid;
  grid-template-columns: 58% 40%;
  grid-template-rows: auto;
  gap: 0 10px;
}

//mobile and tablet view
@media all and (min-width: 320px) and (max-width: 768px) {
  .main-product-details {
    @include mobMainProDet;
  }

  .breadcrumb-product-details {
    @include mobBreProDet;
  }

  .image-section-product-details {
    @include mobImgSec;
  }

  .hr-primary-brand {
    margin: 5% auto;
    width: 40%;
    border: 5px solid var(--unnamed-color-e26a2c);
  }
}

//Desktop view
@media all and (min-width: 769px) {
  .main-product-details {
    @include deskMainProDet;
  }

  .breadcrumb-product-details {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .image-section-product-details {
    grid-column: 1/2;
    grid-row: 1/5;
  }

  .title-section-product-details {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .format-section-product-details {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .quantity-section-product-details {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .description-section-product-details {
    margin-top: 35px;
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .caution-section-product-details {
    margin-top: 35px;
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .hr-primary-brand {
    width: 15%;
    margin: 1% 15%;
    border: 5px solid var(--unnamed-color-e26a2c);
  }
}
