.main-home {
  margin-top: 56px;
}

.main-home {
  width: 100%;
  height: 100%;
  display: grid;
}

//mobile and tablet view
@media all and (min-width: 320px) and (max-width: 768px) {
  .main-home {
    grid-auto-flow: row;
    grid-auto-rows: minmax(0, 90vh);
  }
}

//Desktop view
@media all and (min-width: 769px) {
  .main-home {
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 5vh 35vh 100vh 80vh;
  }

  .main-home-banner{
    grid-column: 1/-1;
    grid-row: 1/3 ;
  }

  .main-home-catagory-tiles{
    grid-column: 1/-1;
    grid-row: 2/4 ;
  }
  .main-home-collection{
    grid-column: 1/-1;
    grid-row: 4/5 ;
  }

  .main-home-conquer{
    grid-column: 1/-1;
    grid-row: 5/6 ;
  }
}
