.shipping-radio-label {
  grid-template-columns: 8%;
}
.shipping-radio-title {
  grid-column: 2/3;
  grid-row: 1/2;
}
.shipping-radio-button {
  margin-top: 5px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.shipping-method-sub-section {
  padding: 0 0 1rem 0;
  text-align: center;
}

#shipping-method-button:hover {
  color: var(--unnamed-color-e26a2c);
  background: var(--white) 0% 0% no-repeat padding-box;
}

.shipping-method-sub-display-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#shipping-method-title {
  grid-column: 1/2;
  grid-row: 1/2;
}
.checkout-sub-display-shipping-info-edit {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
  cursor: pointer;
}
#shipping-sub-display-shipping-method {
  grid-column: 1/2;
  grid-row: 2/3;
}

//mobile and tablet view
@media all and (min-width: 320px) and (max-width: 768px) {
  .shipping-method-sub-display-section {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    padding: 5%;
  }
}

//desktop view
@media all and (min-width: 769px) {
  .main-shipping-method {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    padding: 5%;
  }
}
