//comman mixins

@mixin conqImg {
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em,
    rgb(0 0 0 / 25%) 0px 0.125em 0.5em,
    rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
}

@mixin conqBack {
  height: 100%;
  align-self: center;
  justify-self: center;
  background: #1b252c 0% 0% no-repeat padding-box;
  opacity: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2px;
  box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em,
    rgb(0 0 0 / 25%) 0px 0.125em 0.5em,
    rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
}

@mixin conqBackOne {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-36) / var(--unnamed-line-spacing-45)
    var(--unnamed-font-family-source-serif-pro);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
  text-align: center;
  opacity: 1;
  margin: 0;
  padding: 0;
  align-self: end;
  justify-self: center;
}

@mixin conqBackTwo {
  margin: 0;
  padding: 0;
  align-self: center;
  justify-self: center;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-24)
    var(--unnamed-font-family-muli);
  color: var(--white);
  text-align: center;
  letter-spacing: 0.6px;
  opacity: 1;
}

@mixin conqBackThree {
  width: 181px;
  height: 40px;
  align-self: center;
  justify-self: center;
  background: #1b252c 0% 0% no-repeat padding-box;
  border: 2px solid var(--white);
  border-radius: 10px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-14) / 16px var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
  transition: all 1s;
  cursor: pointer;
}

.conquer-image-section {
  @include conqImg;
}

.conquer-background-section {
  @include conqBack;

  :nth-child(1) {
    @include conqBackOne;
  }

  :nth-child(2) {
    @include conqBackTwo;
  }

  :nth-child(3) {
    @include conqBackThree;
  }

  :nth-child(3):hover {
    background: var(--white) 0% 0% no-repeat padding-box;
    color: #1b252c;
  }
}

.conquer-map-section {
  align-self: end;
  justify-self: center;
}

.conquer-divider-section {
  width: 100%;
  align-self: end;
  justify-self: end;
  margin: 0;
  padding: 0;
  border: 0;
  background: var(--unnamed-color-e26a2c) 0% 0% no-repeat padding-box;
  opacity: 1;
}

//mobile and tablet view
@media all and (min-width: 320px) and (max-width: 768px) {
  .home-conquer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 6fr;
    grid-template-rows: 5fr 0.5fr 0.5fr 5fr;
  }

  .conquer-image-section {
    grid-column: 1/-1;
    grid-row: 1/3;
    object-fit: cover;
  }

  .conquer-background-section {
    width: 90%;
    grid-column: 1/-1;
    grid-row: 2/-1;
    grid-template-rows: 2fr 0.6fr 1fr;
  }

  .conquer-map-section {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .conquer-divider-section {
    height: 50%;
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

//Desktop view
@media all and (min-width: 769px) {
  .home-conquer {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 7fr 0.5fr 0.5fr 7fr;
    grid-template-rows: 1fr 10fr 1fr 1fr;
    padding: 0 9%;
  }

  .conquer-image-section {
    grid-column: 1/4;
    grid-row: 2/4;
    object-fit: cover;
  }

  .conquer-background-section {
    width: 100%;
    grid-column: 3/-1;
    grid-row: 1/-1;
    grid-template-rows: repeat(3, 1fr);

    :nth-child(1) {
      align-self: end;
    }

    :nth-child(2) {
      align-self: center;
    }

    :nth-child(3) {
      align-self: start;
    }

  }

  .conquer-map-section {
    grid-column: 2/4;
    grid-row: 2/3;
    position: relative;
    bottom: 5%;
  }

  .conquer-divider-section {
    height: 2%;
    grid-column: 2/4;
    grid-row: 2/3;
  }
}
