.payment-info-sub-section {
  text-align: center;
  padding: 0 0 1rem 0;
}

.exp-date-inline {
  display: flex;
  gap: 1rem;
}

#payment-info-button[style="opacity: 1;"]:hover {
  color: var(--unnamed-color-e26a2c);
  background: var(--white) 0% 0% no-repeat padding-box;
}

.payment-info-help {
  align-self: center;
  justify-self: center;
  position: relative;
  top: 15px;
  cursor: pointer;
}

.payment-info-inline {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1.5fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.payment-info-sub-display-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 1fr 2fr;
}

#payment-info-title {
  grid-column: 1/2;
  grid-row: 1/2;
}
.checkout-sub-display-shipping-info-edit {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
}
#payment-info-sub-display-shipping-method {
  grid-column: 1/2;
  grid-row: 2/3;
}


//mobile and tablet view
@media all and (min-width: 320px) and (max-width: 768px) {
  .payment-info-sub-display-section {
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    padding: 5%;
  }

}

//desktop view
@media all and (min-width: 769px) {

  .main-payment-info{
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    padding: 5%;
  }

}
